<div class="todo">
    <div class="todo__type todo__type--to-do">
        <h1 class="todo__title ">TODO</h1>
        <div class="todo__items-container">
            <div class="todo__item">
                <p class="todo__task">dasdas</p>
                <div class="todo__icons-container">
                    <i class="fa-solid fa-angle-left todo__icon"></i>
                    <i class="fa-solid fa-angle-right todo__icon"></i>
                    <i class="fa-solid fa-x todo__icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="todo__type todo__type--in-progress">
        <h1 class="todo__title ">In Progress</h1>
        <div class="todo__items-container">
            <div class="todo__item">
                <div class="b">
                    <p class="todo__task">dasdasdasdasdasdasdasdadasddsadasdasdasdas</p>
                </div>
                <div class="todo__icons-container">
                    <i class="fa-solid fa-angle-left todo__icon todo__icon--arrow-left"></i>
                    <i class="fa-solid fa-angle-right todo__icon todo__icon--arrow-right"></i>
                    <i class="fa-solid fa-x todo__icon todo__icon--x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="todo__type todo__type--done">
        <h1 class="todo__title ">Done</h1>
        <div class="todo__items-container">
            <div class="todo__item">
                <p class="todo__task">dasdas</p>
                <div class="todo__icons-container">
                    <i class="fa-solid fa-angle-left todo__icon"></i>
                    <i class="fa-solid fa-angle-right todo__icon"></i>
                    <i class="fa-solid fa-x todo__icon"></i>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <i class="fa-solid fa-check"></i> -->