.todo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 5rem;

  &__type {
    align-self: flex-start;
    &--to-do {
      border: 2px solid rgb(0, 183, 255);
    }
    &--in-progress {
      border: 2px solid cyan;
    }
    &--done {
      border: 2px solid rgba(40, 168, 8, 0.623);
    }
  }
  &__title {
    background-color: #d3d3d3;
    text-align: center;
    padding: 1rem 0;
  }
  &__items-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    min-height: 5rem;
    padding: 1rem;
  }

  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    padding: 1rem;
    border: 1px solid wheat;
    font-size: 1.3rem;
  }
  &__icons-container {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  &__text-side {
    @include flexColumnGap(0.5rem);
  }
  &__task {
    font-size: 1.4rem;
    display: inline;
    line-break: anywhere;
  }
  &__difficulty {
    align-self: flex-start;
    padding: 0 0.8rem;
    border-radius: 0.3rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;

    &--easy {
      background-color: green;
    }
    &--medium {
      background-color: blue;
    }
    &--hard {
      background-color: red;
    }
  }
  &__icon {
    outline: none;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }

    &--x {
      background-color: #42378f;
      background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    }
    &--arrow-right {
      background-color: #00b712;
      background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    }
    &--arrow-left {
      background-color: #045de9;
      background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    }
  }

  &__add-container {
    display: flex;
    gap: 3rem;
  }

  &__input {
    padding-left: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__edit {
    width: 80%;
    padding: 0.5rem 1rem;
  }
  &__difficulty-dropdown {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }
}
